# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore any build artifacts
build/
dist/

# Ignore frontend's node_modules folder as well
frontend/node_modules/
